h2{
    color: #fff;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#3D737F;
}
form{
    max-height:300px;
    padding: 30px;
    border: 1px solid #ccc;
    background-color: black;
    border-radius: 8px;
    border-radius: 0 0 10px rgba(0, 0, 0, 0.1);

}
p{
    color: #fff;
}
input{
    width: 98%;
    padding:2%;
    box-sizing: border-box;
}
button{
    color: rgb(100, 92, 92);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 98%;
    border-radius: 3%;
    width: 100%;
}
a{
    text-decoration: none;
    color: #333;
    display: block;
    margin-top: 5px;
}
a:hover{
    text-decoration: underline;
}